In [29]:
import pandas as pd
import numpy as np

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier

In [31]:
df=pd.read_csv('citrus.csv')
df

            name  diameter  weight  red  green  blue
0         orange      2.96   86.76  172     85     2
1         orange      3.91   88.05  166     78     3
2         orange      4.42   95.17  156     81     2
3         orange      4.47   95.60  163     81     4
4         orange      4.48   95.76  161     72     9
...          ...       ...     ...  ...    ...   ...
9995  grapefruit     15.35  253.89  149     77    20
9996  grapefruit     15.41  254.67  148     68     7
9997  grapefruit     15.59  256.50  168     82    20
9998  grapefruit     15.92  260.14  142     72    11
9999  grapefruit     16.45  261.51  152     74     2

[10000 rows x 6 columns]

In [32]:
df.describe()

           diameter        weight           red         green          blue
count  10000.000000  10000.000000  10000.000000  10000.000000  10000.000000
mean       9.975685    175.050792    153.847800     76.010600     11.363200
std        1.947844     29.212119     10.432954     11.708433      9.061275
min        2.960000     86.760000    115.000000     31.000000      2.000000
25%        8.460000    152.220000    147.000000     68.000000      2.000000
50%        9.980000    174.985000    154.000000     76.000000     10.000000
75%       11.480000    197.722500    161.000000     84.000000     17.000000
max       16.450000    261.510000    192.000000    116.000000     56.000000

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10000 non-null  object
 1   diameter  10000 non-null  float64
 2   weight    10000 non-null  float64
 3   red       10000 non-null  int64
 4   green     10000 non-null  int64
 5   blue      10000 non-null  int64
dtypes: float64(2), int64(3), object(1)
memory usage: 468.9+ KB

In [34]:
print('Number of null vaues:',df.isnull().sum().sum())

Number of null vaues: 0

In [35]:
print(df.nunique())

name           2
diameter     940
weight      6627
red           75
green         80
blue          48
dtype: int64

In [36]:
df["name"].value_counts()

orange        5000
grapefruit    5000
Name: name, dtype: int64

In [37]:
df['name']=df['name'].replace({'orange':0,'grapefruit':1})
print(df['name'])

0       0
1       0
2       0
3       0
4       0
       ..
9995    1
9996    1
9997    1
9998    1
9999    1
Name: name, Length: 10000, dtype: int64

In [38]:
df=df.copy()
X=df.drop("name",axis=1).copy()
y=df["name"].copy()
X

      diameter  weight  red  green  blue
0         2.96   86.76  172     85     2
1         3.91   88.05  166     78     3
2         4.42   95.17  156     81     2
3         4.47   95.60  163     81     4
4         4.48   95.76  161     72     9
...        ...     ...  ...    ...   ...
9995     15.35  253.89  149     77    20
9996     15.41  254.67  148     68     7
9997     15.59  256.50  168     82    20
9998     15.92  260.14  142     72    11
9999     16.45  261.51  152     74     2

[10000 rows x 5 columns]

In [39]:
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,shuffle=True,random_state=12)
X_train

      diameter  weight  red  green  blue
6097     10.54  182.33  150     63    23
6704     10.96  189.53  149     81    32
9844     13.77  233.34  153     61     8
9731     13.45  228.09  159     73    19
6183     10.61  183.39  152     83     2
...        ...     ...  ...    ...   ...
3714      9.27  165.01  154     83     2
7409     11.38  196.56  146     63    38
3325      9.01  160.75  165     95     2
9606     13.22  224.25  153    102    11
5787     10.23  177.83  143     80     5

[7000 rows x 5 columns]

In [40]:
y_test

5669    1
8800    1
3205    0
8731    1
6412    1
       ..
6811    1
1006    0
8506    1
318     0
5189    1
Name: name, Length: 3000, dtype: int64

In [41]:
model_1=LogisticRegression()
model_1.fit(X_train,y_train)
model_1.score(X_test,y_test)*100

94.96666666666667

In [42]:
model_2=RandomForestClassifier()
model_2.fit(X_train,y_train)
model_2.score(X_test,y_test)*100

95.0

In [43]:
model_3=GradientBoostingClassifier()
model_3.fit(X_train,y_train)
model_3.score(X_test,y_test)*100

94.56666666666666

In [44]:
model_4=DecisionTreeClassifier()
model_4.fit(X_train,y_train)
model_4.score(X_test,y_test)*100

93.26666666666667

In [45]:
print(model_1.score(X_test,y_test)*100)
print(model_2.score(X_test,y_test)*100)
print(model_2.score(X_test,y_test)*100)
print(model_4.score(X_test,y_test)*100)

94.96666666666667
95.0
95.0
93.26666666666667